.filter-section {
  .filters-holder {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column-reverse;
    row-gap: 20px;
    margin-top: 20px;
    @media (min-width: $md) {
      flex-direction: row;
    }
  }
}
