.layout {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: -150%;
  transform: translate(-50%, -50%);
  background-color: black;
  z-index: 999;
  opacity: 0.25;
  transition: 0.2s;
}
