$primery: #0e95d5;
$secondry: #64a202;
$light: #fff;
$dark: #0d0c0c;
$background: #e6e6e6;
$text: #999;

// screens
$sm: 558px;
$md: 767px;
$lg: 1024px;
$xlg: 1200px;

// border
$mainRadius: 10px;
$altRadius: 6px;

// transition
$tl: 0.6s;
// box shadow
$mainShadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
