.vision {
  position: relative;
  background-color: rgb(61, 60, 60);
  margin-top: 100px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  .contect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 999;
    .contect--title {
      font-size: 1.2rem;
      color: $primery;
      font-weight: bold;
    }
    .contect--text {
      font-size: 0.75rem;
      color: white;
      text-align: center;
    }
  }
}
