.users {
  .users--links {
    margin: 30px 0 20px;
    color: $primery;
    font-size: 0.65rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 15px;
    .link {
      color: $primery;
      background-color: transparent;
      padding: 5px 10px;
      font-weight: bold;
      border: none;
      border-radius: $altRadius;
      margin: 0 !important;
      &.active {
        color: $light;
        background-color: $primery;
      }
    }
    .btn.active {
      color: $light;
      background-color: $primery;
    }
  }
  @media (min-width: $sm) {
    .users--links {
      font-size: 0.95rem;
    }
  }
}
